@import "../app/globals.css";



@utility admin-container {
    @apply flex w-full lg:w-[calc(100%-264px)] flex-1 flex-col bg-light-300 p-4 sm:p-6 md:p-8 lg:p-10;
}

@utility back-btn {
    @apply mb-10! w-fit! border! border-light-300! bg-white! text-xs! font-medium! text-dark-200! hover:bg-light-300!;
}

/* TO CHECK HOVER COLOR NOT FINAL */
@utility confirm-trigger {
    @apply font-semibold! text-sm! shadow-none! hover:bg-blue-500/70  w-full!;
}

@utility confirm-approve {
    @apply bg-green-100! text-green-800! hover:bg-green-100/70!;
}

@utility confirm-reject {
    @apply bg-red-100! text-red-800! hover:bg-red-100/70!;
}

@utility confirm-content {
    @apply sm:max-w-md! flex! flex-col! items-center! justify-center! p-6!;
}

@utility confirm-illustration {
    @apply size-28 rounded-full flex justify-center items-center mx-auto;

    & div:first-child {
        @apply size-[70%] rounded-full flex justify-center items-center;
    }
}

@utility confirm-btn {
    @apply w-full! min-h-14! rounded-xl! font-bold! text-base! text-light-800!;
}



@utility view-btn {
    /* Home Page */
    @apply bg-light-300! rounded-md! text-primary-admin! font-semibold! hover:bg-light-300/80! shadow-none!;
}



@utility stat {
    /* Statistics */
    @apply bg-white rounded-lg sm:rounded-xl p-3 sm:p-4 lg:p-5 space-y-3 sm:space-y-4 lg:space-y-5 flex-1;
}

@utility stat-info {
    @apply flex justify-between items-center gap-3 sm:gap-4 lg:gap-5;
}

@utility stat-label {
    @apply font-medium text-sm sm:text-base text-light-500 whitespace-nowrap;
}

@utility stat-count {
    @apply font-semibold text-2xl sm:text-3xl text-dark-400;
}





@utility user {
    .admin-sidebar & {
        @apply my-8 flex w-full flex-row gap-2 rounded-full border border-light-400 px-6 py-2 shadow-xs max-md:px-2;
    }
}



@utility color-picker {
    /* Color Picker */
    @apply flex min-h-14 flex-row items-center gap-3 rounded-md border border-gray-100 bg-light-600 p-4 text-base font-semibold text-dark-400;
}

@utility hex-input {
    @apply h-full flex-1 bg-transparent font-ibm-plex-sans outline-hidden;
}

@utility hex-color-picker {
    @apply absolute left-0 top-full z-50 mt-3;
}

@utility error-fallback {
    /* Error Fallback */
    @apply p-4 bg-red-100 text-red-700 rounded-md;

    & h2 {
        @apply text-lg font-semibold mb-2;
    }
}

@utility admin-header {
    /* Header */
    @apply flex lg:items-end items-start justify-between lg:flex-row flex-col gap-3 sm:gap-5 mb-4 sm:mb-6 lg:mb-10;
}

@utility admin-search {
    /* Search */
    @apply flex border border-gray-100 min-h-12 sm:min-h-14 items-center gap-1 rounded-md bg-light-600 px-3 sm:px-4 lg:max-w-md w-full;
}

@utility admin-search_input {
    @apply w-full! border-0! shadow-none! bg-transparent! outline-hidden! focus:outline-hidden! focus:ring-0! focus:border-0! text-sm! sm:text-base!;
}

@utility admin-sidebar {
    /* Sidebar */
    @apply sticky left-0 top-0 flex h-dvh flex-col justify-between bg-white px-3 sm:px-4 lg:px-5 pb-5 pt-6 sm:pt-8 lg:pt-10 max-lg:hidden;

    & .logo {
        @apply flex flex-row items-center gap-2 border-b border-dashed border-primary-admin/20 pb-6 sm:pb-8 lg:pb-10 max-md:justify-center;
    }

    & .logo h1 {
        @apply text-xl sm:text-2xl font-semibold text-primary-admin max-md:hidden;
    }

    & .link {
        @apply flex flex-row items-center w-full gap-2 rounded-lg px-3 sm:px-4 lg:px-5 py-2.5 sm:py-3 lg:py-3.5 max-md:justify-center;
    }

    & .link p {
        @apply text-sm sm:text-base font-medium max-md:hidden;
    }

    & .user {
        @apply my-6 sm:my-8 flex w-full flex-row gap-2 rounded-full border border-light-400 px-4 sm:px-6 py-2 shadow-xs max-md:px-2;
    }
}

@utility logo {
    .admin-sidebar & {
        @apply flex flex-row items-center gap-2 border-b border-dashed border-primary-admin/20 pb-10 max-md:justify-center;
    }

    .admin-sidebar & h1 {
        @apply text-2xl font-semibold text-primary-admin max-md:hidden;
    }
}

@utility link {
    .admin-sidebar & {
        @apply flex flex-row items-center w-full gap-2 rounded-lg px-5 py-3.5 max-md:justify-center;
    }

    .admin-sidebar & p {
        @apply text-base font-medium max-md:hidden;
    }
}

@utility user-card {
    /* User Card */
    @apply w-32 sm:w-36 lg:w-40 bg-light-300 py-3 sm:py-4 px-2 sm:px-3 flex justify-center items-center flex-col rounded-lg sm:rounded-xl text-center;

    & .name {
        @apply font-medium mt-2 sm:mt-3 text-dark-400 line-clamp-1 w-full break-words text-sm sm:text-base;
    }

    & .email {
        @apply text-light-500 text-xs sm:text-sm line-clamp-1 break-words w-full;
    }
}

@utility name {
    .user-card & {
        @apply font-medium mt-3 text-dark-400 line-clamp-1 w-full break-words;
    }
}

@utility email {
    .user-card & {
        @apply text-light-500 text-sm line-clamp-1 break-words w-full;
    }
}
